
.hr-line {
    margin: 50px 40px;
    border: 1px solid rgba(54,69,38,.90);
}

.corss-btn {
    
    /* border: 2px solid Black; */
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    overflow: visible;
    position: relative;
  }
  
  .x {
      position: absolute;
      background: red;
      border-radius: 50%;
      color: white;
      top: -10px;
      right: -10px;
  }

